{%- if include.keys -%}
  {%- assign keys = include.keys -%}
{%- endif -%}

{%- if include.field -%}
  {%- assign field = include.field -%}
{%- endif -%}

<div class="page-segments">
  <ul class="page-segments-list">
    {% if field == 'categories' %}
      {% for key in keys %}
        {% if page.categories != nil %}
          {% if page.categories == key %}
            <h2 id="{{ key }}" class="segment-name">{{ key }}</h2>
            {% assign items = paginator.posts | where: field, key %}
            {% for item in items %}
              {% if item != nil %}
              <li> {% include views/post-item.html %} </li>
              {% endif %}
            {% endfor %}
          {% endif %}
        {% else %}
          <h2 id="{{ key }}" class="segment-name">{{ key }}</h2>
          {% assign items = paginator.posts | where: field, key %}
          {% for item in items %}
            {% if item != nil %}
            <li> {% include views/post-item.html %} </li>
            {% endif %}
          {% endfor %}
        {% endif %}
      {% endfor %}
    {% else %}
      {% for key in keys %}
      <h2 id="{{ key }}" class="segment-name">{{ key }}</h2>
        {% assign items = site.posts | where: field, key %}
        {% for item in items %}
          {% if item != nil %}
          <li> {% include views/post-item.html %} </li>
          {% endif %}
        {% endfor %}
      {% endfor %}
    {% endif %}
  </ul>
</div>
